<section class=" md:min-h-[90vh] lg:h-[50vh] h-full">
  <div class=" w-full h-full flex flex-col-reverse overflow-hidden justify-center lg:flex-row lg:justify-between">

    <div class=" flex flex-col w-full lg:w-1/2 py-6 justify-center md:px-16 px-4  space-y-4 rounded-sm text-center lg:text-left">
      <div class="leading-3 hidden md:block">
        <h1 class="md:text-5xl text-3xl font-semibold md:pb-6">Discover a wide varieties of</h1>
        <h1 class="md:text-5xl text-3xl font-semibold md:pb-6"> books and journals on one </h1>
        <h1 class="md:text-5xl text-3xl font-semibold md:pb-6">seamless platform</h1>
      </div>
      <h1 class="md:hidden text-3xl font-semibold md:pb-6">Discover a wide varieties of books and journals on one seamless platform</h1>

      <p class="mt-6 mb-8 text-lg md:text-xl sm:mb-12">Get instant access to millions of books when you subscribe for a 30 days free trial.

      </p>
      <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-2 lg:justify-start">
        <a rel="noopener noreferrer" href="#" class="md:px-16 md:py-3 p-3 text-lg md:text-xl font-bold rounded text-white bg-[#4291B0]">Subscribe</a>

      </div>
    </div>

    <div
      class=" w-full lg:w-1/2 md:flex items-center justify-center border-2 border-amber-900 mb-4 lg:mt-0 h-[40svh] md:h-full"
      [ngStyle]="{'background-image': 'url(./assets/hero.jpg)', 'background-size': 'cover', 'background-position': 'center'}">
  </div>

  </div>
</section>
