<section class="bg-[#EFFAFC] md:h-[55vh] lg:min-h-[85vh] h-full">
  <div class="mx-auto w-[95%] h-full flex flex-col-reverse overflow-hidden justify-center md:flex-row lg:flex-row lg:justify-between">

    <div class="flex flex-col md:w-[50%] lg:w-1/2 pt-2 pb-6 justify-center md:px-6 lg:px-12 px-4 space-y-3 rounded-sm text-center md:text-left">
<!--      <div class="leading-8 md:leading-10 hidden md:block">-->
<!--        <h1 class="md:text-[2.2rem] lg:text-[2.8rem] text-[1.8rem] font-semibold md:pb-3 lg:pb-6">Discover a wide varieties of</h1>-->
<!--        <h1 class="md:text-[2.2rem] lg:text-[2.8rem] text-[1.8rem] font-semibold md:pb-3 lg:pb-6"> books and journals on one </h1>-->
<!--        <h1 class="md:text-[2.2rem] lg:text-[2.8rem] text[1.8rem] font-semibold md:pb-3 lg:pb-6">seamless platform</h1>-->
<!--      </div>-->
      <h1 class="md:leading-normal leading-10 md:text-[2.2rem] lg:text-[2.8rem] text-[1.8rem] font-semibold md:pb-6">Discover a wide varieties of books and journals on one seamless platform</h1>

      <p class="mt-6 mb-8 text-[1.1rem] md:text-[1.25rem] sm:mb-12">Get instant access to millions of books when you subscribe for a 30 days free trial.

      </p>
      <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-2 md:justify-start">
        <a rel="noopener noreferrer" href="#" class="md:px-16 md:py-3 p-3 text-[1.1rem] md:text-[1.25rem] font-bold rounded text-white bg-[#4291B0]">Subscribe</a>

      </div>
    </div>

    <div
      class=" w-full md:w-[50%] lg:w-1/2 md:flex md:min-h-[50svh] md:rounded-full items-center justify-center pb-4 lg:mt-0 h-[40svh] md:h-full"
      [ngStyle]="{'background-image': 'url(./assets/hero.jpg)', 'background-size': 'cover', 'background-position': 'center'}">
  </div>

<!--    <div-->
<!--      class=" w-full md:w-[45%] lg:w-1/2 md:flex md:min-h-[50svh] mb-8 md:mb-0  items-center justify-center pb-4 lg:mt-0 h-[40svh] md:h-full">-->
<!--      <img ngSrc="./assets/hero.jpg" alt="hero img" height="2000" width="2000">-->
<!--    </div>-->

  </div>
</section>
