
<main class="py-14">
  <h1 class="font-medium pb-4 px-2 text-[1.5rem] md:text-[2.5rem] text-center">
    Browse Our Collections of Books
  </h1>
  <div class="border-y-2 border-y-gray-400">
    <div class="mx-auto w-[90%] ">
      <ul class="md:flex gap-1">

        <li class="relative parent">
          <a href="#" class="flex gap-1 p-3 items-center hover:bg-gray-50">
            <span class="font-semibold">Overview</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
          </a>
          <ul class="child transition duration-300 md:absolute top-full left-0 md:w-48 bg-white md:shadow-lg md:rounded-b z-10">
            <li>
              <a href="#" class="flex px-4 py-3 hover:bg-gray-50">
                EBooks
              </a>
            </li>
            <li>
              <a href="#" class="flex px-4 py-3 hover:bg-gray-50">
                Podcast
              </a>
            </li>
            <li>
              <a href="#" class="flex px-4 py-3 hover:bg-gray-50">
                Magazines
              </a>
            </li>
            <li>
              <a href="#" class="flex px-4 py-3 hover:bg-gray-50">
                Audio Books
              </a>
            </li>
          </ul>
        </li>

        <li class="relative parent">
          <a href="#" class="flex gap-1 p-3 items-center hover:bg-gray-50">
            <span class="font-semibold">Categories</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
          </a>
          <ul class="child transition duration-300 md:absolute top-full left-0 md:w-48 bg-white md:shadow-lg md:rounded-b z-10">
            <li>
              <a href="/best-selling-books" class="flex px-4 py-3 hover:bg-gray-50">
                Best Selling Books
              </a>
            </li>
            <li>
              <a href="/award-winning-books" class="flex px-4 py-3 hover:bg-gray-50">
                Award Winning Books
              </a>
            </li>
            <li>
              <a href="/teens-children-category" class="flex px-4 py-3 hover:bg-gray-50">
                Teen/Children Books
              </a>
            </li>
          </ul>
        </li>

        <li class="relative parent">
          <a href="#" class="flex gap-1 p-3 items-center hover:bg-gray-50">
            <span class="font-semibold">BestSellers</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
          </a>
          <ul class="child transition duration-300 md:absolute top-full left-0 md:w-48 bg-white md:shadow-lg md:rounded-b z-10">
            <li>
              <a href="/best-selling-books" class="flex px-4 py-3 hover:bg-gray-50">
                Best Selling Books
              </a>
            </li>
            <li>
              <a href="/award-winning-books" class="flex px-4 py-3 hover:bg-gray-50">
                Award Winning Books
              </a>
            </li>
            <li>
              <a href="/teens-children-category" class="flex px-4 py-3 hover:bg-gray-50">
                Teen/Children Books
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>

  <app-book-section endpoint="best-selling-books" title="Best Selling Books" description="Top rated best selling books from different authors" [books]="bestSellingBooks">
  </app-book-section>

  <app-book-section endpoint="award-winning-books" title="Award Winning Books" description="These works from different authors has been recognized by prestigious literary awards." [books]="awardWinningBooks">
  </app-book-section>

  <app-book-section endpoint="teens-children-category" title="Teens/Children Category" description="Exciting Teens/Children Fantasy Novels." [books]="teensChildrenBooks">
  </app-book-section>






<!--  <section class="min-h-screen w-full py-10">-->
<!--    <h1 class="text-[2rem] md:text-[2.5rem] font-semibold mx-auto w-[90%] py-3">Best Selling Books</h1>-->
<!--    <div class="flex gap-2 justify-between items-center mx-auto w-[90%] h-[90vh] overflow-x-auto">-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/singleDiff.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="285" width="177">-->
<!--        </div>-->
<!--        <div class="bg-[#D9D9D9] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/sr.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="277" width="182">-->
<!--        </div>-->
<!--        <div class="bg-[#D9D9D9] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/singleChristian.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="276" width="183">-->
<!--        </div>-->
<!--        <div class="bg-[#D9D9D9] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/beautyUncertain.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="285" width="177">-->
<!--        </div>-->
<!--        <div class="bg-[#D9D9D9] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </section>-->

<!--  <section class="min-h-screen w-full py-10">-->
<!--    <div class= "mx-auto w-[90%]">-->
<!--      <h1 class="text-[2rem] md:text-[2.5rem] font-semibold">Award Winning Books</h1>-->
<!--      <span class="flex justify-between md:items-center w-full py-3">-->
<!--      <p class="text-[1rem] md:text-[1.5rem] pr-3">These works from different authors has been recognized by prestigious literary awards.</p>-->
<!--      <a href="/" class="text-teal-600 font-bold text-[1rem] md:text-[1.5rem]">View More</a>-->
<!--    </span>-->
<!--    </div>-->
<!--    <div class="flex gap-2 justify-between items-center mx-auto w-[90%] h-[90vh] overflow-x-auto">-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/fall-apart.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="279" width="181">-->
<!--        </div>-->
<!--        <div class="bg-[#D9D9D9] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/half-yellow.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="279" width="181">-->
<!--        </div>-->
<!--        <div class="bg-[#D9D9D9] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/akata.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="275" width="183">-->
<!--        </div>-->
<!--        <div class="bg-[#D9D9D9] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/uyai.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="281" width="180">-->
<!--        </div>-->
<!--        <div class="bg-[#D9D9D9] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

<!--  <section class="min-h-screen w-full py-10">-->
<!--    <div class= "mx-auto w-[90%]">-->
<!--      <h1 class="text-[2rem] md:text-[2.5rem] font-semibold">Teens/Children Category</h1>-->
<!--      <span class="flex justify-between items-center w-full py-3">-->
<!--      <p class="text-[1rem] md:text-[1.5rem]">Exciting Teens/Children Fantasy Novels.</p>-->
<!--      <a href="/" class="text-teal-600 font-bold text-[1rem] md:text-[1.5rem]">View More</a>-->
<!--    </span>-->
<!--    </div>-->
<!--    <div class="flex gap-2 justify-between items-center mx-auto w-[90%] h-[90vh] overflow-x-auto">-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/lion.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="224" width="224">-->
<!--        </div>-->
<!--        <div class="bg-[#FFD3C8] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/dragon.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="276" width="183">-->
<!--        </div>-->
<!--        <div class="bg-[#D6DADE] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/sorcery.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="277" width="182">-->
<!--        </div>-->
<!--        <div class="bg-[#F3D6D6] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="w-[90%] md:w-[32%] lg:w-[23%] shadow-lg relative flex flex-col items-center justify-center h-full">-->
<!--        <div class="bg-red-200 h-1/2 md:top-[15%] top-[10%] w-[70%] shadow z-10 absolute">-->
<!--          <img ngSrc="./assets/beauty-gabriel.jpg" class="object-fill w-full h-full object-center" alt="books img"-->
<!--               height="225" width="225">-->
<!--        </div>-->
<!--        <div class="bg-[#FFF6D5] h-[40%] w-full"></div>-->
<!--        <div class="bg-[#CCEDF2] h-[60%] w-full flex flex-col justify-end">-->
<!--          <div class="p-4">-->
<!--            <h2 class="font-bold text-[1.8rem]">Single with a Difference</h2>-->
<!--            <p class="text-[1.3rem] font-semibold">Faith Oyedepo</p>-->
<!--            <span class="my-3">-->
<!--            <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--              <i class="fa-solid fa-star text-amber-500"></i>-->
<!--          </span>-->
<!--            <div class="flex justify-between">-->
<!--              <small class="font-semibold text-[1.2rem]">5/5</small>-->
<!--              <i class="fa-regular fa-bookmark text-xl"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

</main>
